<div class="basic-demo">
  <fieldset>
    <legend>Editor</legend>
    <ck-editor [(ngModel)]="editorValue" skin="moono-lisa" [language]="language" [fullPage]="true" #ckEditor="ckEditor" (change)="handleValueChange($event)"></ck-editor>
    <!-- <ck-editor [(ngModel)]="editorValue"></ck-editor> -->
  </fieldset>
  <hr>
  <fieldset>
    <legend>Operate</legend>
    <button (click)="setContent()">Set setContent</button>
    <button (click)="getContent()">GET HTML</button>
    <button (click)="changeLanguage()">Change Language</button>
  </fieldset>
  <hr>
  <fieldset>
    <legend>Value：</legend>
    <textarea rows="10" cols="100" class="form-control" [value]="editorValue"></textarea>
  </fieldset>
</div>
